body {
  font-family: "Maven Pro", sans-serif;
}

.container {
  background: rgb(183, 210, 236) 90.2%;
  width: 670px;
  height: 400px;
  padding: 20px;
  border-radius: 20px;
  margin-top: 60px;
  margin-left: 300px;
  display: block;
  border: 1px white solid;
  box-shadow: 10px 10px 10px rgba(121, 121, 121, 0.281);
}

/*_____________________________________________________*/

/*PARTE DE SEARCH*/

.inputsearch {
  background: rgba(207, 207, 207, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px 0px 0px 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.521);
  border-left: 2px solid rgba(255, 255, 255, 0.521);
  border-right: none;
  border-bottom: none;
  padding: 10px;
  box-shadow: 1px 3px 3px rgba(110, 110, 110, 0.219);
  outline: none;
}

.inputbutton {
  background: rgba(207, 207, 207, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0px 10px 10px 0px;
  border-top: 2px solid rgba(255, 255, 255, 0.521);
  border-left: 2px solid rgba(255, 255, 255, 0.521);
  border-right: none;
  border-bottom: none;
  padding: 9px;
  box-shadow: 1px 3px 1px rgba(124, 124, 124, 0.267);
  outline: none;
}

.div1 {
  margin-left: 30px;
}

/*_____________________________________________________*/

/*PARTE DE DESCRIPCIÓN*/

.city {
  background: none;
  color: rgb(66, 66, 66);
  font-size: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
  padding: none;
  width: 350px;
  height: 60px;
  display: flex;
  align-items: center;
  border: none;
}

.divtextweather {
  background: none;
  border: none;
  margin-left: 30px;
  margin-top: -10px;
  display: flex;
  align-items: center;
  padding: none;
  width: 130px;
  height: 70px;
}

.day,
.tiempoclima {
  background: none;
  color: rgb(82, 82, 82);
  font-size: 12px;
  text-transform: capitalize;
}

.humedadwind {
  position: relative;
  bottom: 10px;
}

.humidity,
.wind {
  background: none;
  position: relative;
  top: none;
  left: 200px;
  bottom: 55px;
  color: rgb(82, 82, 82);
  font-size: 12px;
}

/*_____________________________________________________*/

/*PARTE DE TEMPERATURA NUMERO*/

.temperaturebig {
  background: none;
  display: flex;
  margin-top: none;
  margin-bottom: 20px;
  margin-right: none;
  margin-left: 30px;
  text-align: center;
  align-items: center;
  width: 290px;
  height: 150px;
  position: relative;
  bottom: 50px;
  border: none;
}

.numbertemp {
  background: none;
  color: rgb(66, 66, 66);
  font-size: 70px;
  font-weight: lighter;
}

.imagen {
  margin-left: 40px;
  margin-top: -30px;
}

.imagenbig {
  width: 120px;
}

.texttemp {
  position: relative;
  top: 40px;
  right: 90px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.celcious {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-size: 22px;
  margin-right: 10px;
}

.fearengei {
  font-size: 22px;
  margin-left: 10px;
}

/*_____________________________________________________*/

/*PARTE DE BOTONES*/

.inputcities {
  background: none;
  position: relative;
  bottom: 60px;
  margin-top: 5px;
  margin-left: 30px;
  width: 400px;
  height: 40px;
  border: none;
}

.buttonbogota,
.buttonparis,
.buttonnewyork,
.buttoncurrent {
  background: rgba(207, 207, 207, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.521);
  border-left: 2px solid rgba(255, 255, 255, 0.521);
  border-bottom: none;
  border-right: none;
  box-shadow: 3px 7px 6px rgba(124, 124, 124, 0.267);
  position: relative;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 1px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 10px;
  font-size: 12px;
  color: rgb(66, 66, 66);
  font-weight: 500;
}

/*_____________________________________________________*/

/*PARTE DE CUADROS*/

.weather_forecast {
  position: relative;
  top: -480px;
  left: 430px;
  width: 300px;
  border: none;
}

.col-2 {
  background: rgba(207, 207, 207, 0.233);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-top: 2px solid rgba(255, 255, 255, 0.521);
  border-left: 2px solid rgba(255, 255, 255, 0.521);
  box-shadow: 3px 7px 6px rgba(124, 124, 124, 0.267);
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 5px;
  border-radius: 10px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.listacuadros {
  width: 100px;
  margin-right: 120px;
  border: none;
}

.grados {
  margin-top: 5px;
}

.icon_forecast {
  background: none;
  margin-left: 10px;
}

.img_forecast {
  margin: auto;
  width: 70px;
}

.monday {
  background: none;
  margin-bottom: 5px;
  margin-left: 10px;
  font-weight: bold;
  color: rgb(66, 66, 66);
}

/*_____________________________________________________*/

/*PARTE DE LINK AL FINAL*/

.linkfinal {
  margin-left: 320px;
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: rgb(10, 146, 224);
  font-weight: bold;
}
